<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= expense.name %> Details
  </title>
  <link rel="icon" href="/images/logo-white.png" type="image/png" />
  <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/flatly/bulmaswatch.min.css">

</head>

<body>
  <%- include('../partials/_navbar.ejs') %>
    <section class="section" style="min-height: 100vh">
      <div class="container" style="max-width: 600px">
        <h1 class="title is-2 has-text-centered">
          <%= expense.name %>
        </h1>
        <%- include('../partials/_links.ejs') %>
          <div class="box" style="margin-top: 1.25rem;">
            <div class="card">
              <div class="content">
                <div class="card-content">
                  <p>
                    <strong>Type:</strong>
                    <%= expense.type %>
                  </p>
                  <p>
                    <strong>Schedule:</strong>
                    <span>
                      <%= expense.costType==="Variable" ? expense.costType : expense.schedule %>
                    </span>
                  </p>
                  <p>
                    <strong>
                      <%= expense.costType==="Variable" ? "Monthly Cost" : "Cost" %>:
                    </strong>
                    <%= Intl.NumberFormat(currency.locale, { style: 'currency' , currency: currency.code
                      }).format(expense.cost) %>
                  </p>
                  <% if (expense.costType==="Variable" && expense.costHigh && expense.costLow) { %>
                    <p>
                      <strong>Estimation:</strong>
                      <%= Intl.NumberFormat(currency.locale, { style: 'currency' , currency: currency.code
                        }).format(expense.costLow) %> to
                        <%= Intl.NumberFormat(currency.locale, { style: 'currency' , currency: currency.code
                          }).format(expense.costHigh) %>
                    </p>
                    <p>
                      <strong>Highest Payment:</strong>
                      <%= Intl.NumberFormat(currency.locale, { style: 'currency' , currency: currency.code
                        }).format(expense.historical.reduce((max, entry)=> entry.cost > max.cost ?
                        entry : max, expense.historical[0]).cost) %>
                    </p>
                    <p><strong>Lowest Payment:</strong>
                      <%= Intl.NumberFormat(currency.locale, { style: 'currency' , currency: currency.code
                        }).format(expense.historical.reduce((min, entry)=> entry.cost < min.cost ? entry : min,
                          expense.historical[0]).cost) %>
                    </p>

                    <% } %>
                      <% if (expense.notes && expense.notes.length> 0) { %>
                        <p>
                          <strong>Notes: </strong>

                          <span>
                            <%= expense.notes %>
                          </span>
                        </p>
                </div>
              </div>
            </div>
            <br>
            <% } %>
              <div class="field is-grouped is-grouped-centered buttons are-medium">
                <div class="control">
                  <form action="/budgeo/<%= username %>/expenses/<%= expense._id %>?_method=DELETE" method="POST">
                    <button class="button is-primary show-page-button" type="submit" style="width: 80px">
                      Delete
                    </button>
                  </form>
                </div>
                <div class="control">
                  <a class="button is-primary is-inverted show-page-button"
                    href="/budgeo/<%= username %>/expenses/<%= expense._id %>/edit">Edit</a>
                </div>
              </div>
              <% if (expense.historical.length> 0) { %>
                <h3 class="subtitle is-5 mt-5 has-text-centered">
                  <strong>Historical Payment Data</strong>
                </h3>
                <div class="table-container" style="max-width: 400px; margin-left: auto; margin-right: auto">
                  <table class="table is-fullwidth is-striped is-hoverable has-text-centered">
                    <thead>
                      <tr>
                        <th class="has-text-centered">Date</th>
                        <th class="has-text-centered">Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% expense.historical.forEach((payment)=> { %>
                        <tr>
                          <td>
                            <%= payment.date.toLocaleDateString(currency.locale, { year: 'numeric' , month: 'long' ,
                              timeZone: 'UTC' , }) %>
                          </td>
                          <td>
                            <%= Intl.NumberFormat(currency.locale, { style: 'currency' , currency: currency.code
                              }).format(payment.cost) %>
                          </td>
                        </tr>
                        <% }) %>
                    </tbody>
                  </table>
                </div>
                <% } %>
          </div>
      </div>
    </section>
</body>

</html>