<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= user.username.endsWith('s') ? user.username + "' Budget" : user.username + "'s Budget" %>
  </title>
  <link rel="icon" href="/images/logo.png" type="image/png" />
  <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/flatly/bulmaswatch.min.css">
  <style>
    .input:active,
    .input:focus,
    .is-active.input,
    .is-active.textarea,
    .is-focused.input,
    .is-focused.textarea,
    .select select.is-active,
    .select select.is-focused,
    .select select:active,
    .select select:focus,
    .textarea:active,
    .textarea:focus {
      border-color: #34495e !important;
      box-shadow: 0 0 0 .125em #34495e33 !important;
    }
    .select:not(.is-multiple):not(.is-loading)::after {
      border-color: #238cd1;
    }
  </style>
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>
    <section class="section">
      <div class="container">
        <h1 class="title is-1 has-text-centered">Expenses</h1>
        <%- include('../partials/_links.ejs') %>
          <div class="box" style="max-width: 900px; margin: 0 auto">
            <div class="field has-addons">
              <div class="control">
                <div class="select">
                  <select id="type-filter">
                    <option value="all">All</option>
                    <option value="Credit Card">Credit Card</option>
                    <option value="Subscription">Subscription</option>
                    <option value="Utility">Utility</option>
                    <option value="Loan">Loan</option>
                    <option value="Other">Other</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="columns is-multiline" id="expenses-list">
              <% expenses.forEach((expense)=>{ %>
                <div class="column is-one-third-desktop is-half-tablet is-full-mobile expense-item"
                  data-type="<%= expense.type %>">
                  <div class="card">
                    <div class="card-content">
                      <p class="title is-5 has-text-centered">
                        <%= expense.name %>
                      </p>
                      <p><strong>Type:</strong>
                        <%= expense.type %>
                      </p>
                      <p>
                        <strong>Schedule:</strong>
                        <span>
                          <%= expense.costType==="Variable" ? expense.costType : expense.schedule %>
                        </span>
                      </p>
                      <p>
                        <strong>Cost:</strong>
                        <%= Intl.NumberFormat(currentUser.currency.locale, { style: 'currency' , currency:
                          currentUser.currency.code }).format(expense.cost) %>
                      </p>
                      <div class="field" style="margin-top: 1rem;">
                        <div class="field is-grouped is-grouped-centered">
                          <p class="control">
                            <a class="button is-primary" href="/users/<%=user._id%>/budget/<%= expense._id %>">View
                              Expense</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <% }) %>
            </div>
          </div>
      </div>
    </section>
    <script>
      // Expense filter logic
      document.addEventListener("DOMContentLoaded", function () {
        const expensesFilter = document.getElementById("type-filter");
        const expenseCard = document.querySelectorAll(".expense-item");
        expensesFilter.addEventListener("change", function () {
          const expenseType = expensesFilter.value;
          expenseCard.forEach((card) => {
            if (expenseType === "all" || card.dataset.type === expenseType) {
              card.style.display = "";
            } else {
              card.style.display = "none";
            }
          });
        });
      });
    </script>
</body>

</html>